.App {
  margin-top: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
  
}

.shveps-card{
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color:grey;
}
.container-logo{
  margin-top: 1em;
  width: 90%;
  height: 25em;
  text-align: center;
}
.logo{
  width: 10em;
  height: 90%;
  
}
.title-card{
  max-width: 300px;
  padding: 1em;
  text-align: left;
}

@keyframes dropout-block {
  0% {
    top: -100%;
  }
  10%{
    top: +50%;
  }
  20% {
    top:36%;
  }
  35%{
    top:50%;
  }
  45%{
    top:43%;
  }
  60%{
    top:50%
  }
  100%{
    top:0;
  }
}

@keyframes my-class-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/


/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */